<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @Html.Action("Navbar","Home")
        <footer>
            <div class="content-wrapper">
                <div class="col-md-3">
                    <ul class ="nav navabar-nav">
                        <li> @Html.ActionLink("link.Name","link.Action","link.Controller",new { area = "" },new { @class="navabar-brand"})</li>
                        <li> @Html.ActionLink("link.Name","link.Action","link.Controller", new { area = "" },new { @class="navabar-brand"})</li>
                    </ul>

                </div>
                 <div class="col-md-9">
                @RenderBody()
                 </div>
                <hr/>
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 我的 ASP.NET MVC 应用程序</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
